<%= render 'users/shared/users_sidebar' %>
<%= render 'users/shared/header' %>

<div id="layoutSidenav_content">
    <div class="container-fluid">
        <h1 class="mt-4">ダッシュボード</h1>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-header">本日の応募本数</div>
                            <div class="card-body"><%= @exist.count%>本</div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-header">累計の応募本数</div>
                            <div class="card-body"><%= @exists.count%>本</div>
                    </div>
                </div>
            </div>
        <div class="card mb-4">
            <div class="card-header">下書き記事一覧</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>タイトル</th>
                                    <th>第一キーワード</th>
                                    <th>第二キーワード</th>
                                    <th>文字数</th>
                                    <th>応募日</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <% @posts.each do |post| %>
                                    <td><%= post.order.title %></td>
                                    <td><%= post.order.first_keyword %></td>
                                    <td><%= post.order.second_keyword %></td>
                                    <td><%= post.order.words %></td>
                                    <td><%= post.created_at %></td>
                                    <td><%= link_to "下書き画面へ", edit_users_post_path(post), class: "btn btn-primary" %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>