<%= render 'admins/shared/admin_sidebar' %>
<%= render 'admins/shared/header' %>
<div id="layoutSidenav_content">
  <div class="container-fluid">
    <h1 class="mt-4">記事編集画面</h1>
      <% if notice %>
        <div class="sucsess-flash-message"><%= flash[:notice]%>
        </div>
      <% elsif alert %>
        <div class="error-flash-message"><%= flash[:alert]%>
        </div>
      <% end %>
    <div class="card mb-4">
    <div class="card-header">記事情報</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>第一キーワード</th>
                <th>第二キーワード</th>
                <th>第三キーワード</th>
                <th>第四キーワード</th>
                <th>文字数</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= @post.order.title %></td>
                  <td><%= @post.order.first_keyword %></td>
                  <td><%= @post.order.second_keyword %></td>
                  <td><%= @post.order.third_keyword %></td>
                  <td><%= @post.order.fourth_keyword %></td>
                  <td><%= @post.order.words %></td>
                </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
        <%= render 'users/shared/form', post: @post %>
        <%= link_to "記事を非公開にする",  closed_admins_post_path , method: :patch, class: "btn-flat-border " %>
    </div>
  </div>
</div>